body{
    background-color: rgb(9, 55, 94);
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.eyes{
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.pupil{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid rgba(129, 50, 50, 0.759);
}